<!-- Site header -->
<header class="main-header">
	
	<!-- Page title -->
	<h3>
		<a id="show-menu" href="#" class="btn btn-primary"><i class="icon-reorder"></i></a>
		<%- title.toUpperCase() || "DASHBOARD" %>
	</h3>
	
	<!-- Profile dropdown -->
	<nav class="user-profile">
		<a href="#" class="user-dropdown" data-toggle="dropdown">
			<i class="icon-user"></i>
			<span><%- user.name %></span>
			<i class="icon-caret-down"></i>
		</a>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#">Profile</a></li>
			<li><a href="#">Messages</a></li>
			<li><a href="#">Tasks</a></li>
			<li><a href="error.html">Show error</a></li>
			<li><a data-module="user" data-method="logout">Logout</a></li>
		</ul>
	</nav>

</header>

<section class="main-content padding">
	
	<div class="row">
		
		<!-- Basic forms -->
		<div class="col-lg-12">
			<div class="module">
				<div class="module-header"><h4>Create a new rule</h4></div>
				<div class="module-content">

					<form action="#" class="form-horizontal">

						<div class="form-group">
							<label for="select1" class="col-lg-2 control-label">Bundle</label>
							<div class="col-lg-10">
								<select class="form-control" id="bundle">
									<% for(var i = 0; i < bundles.length; i++) { %>
										<option value="<%= bundles[i] %>"><%= bundles[i] %></option>
									<% } %>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label for="input1" class="col-lg-2 control-label">URL</label>
							<div class="col-lg-10">
								<div class="input-group">
									<span class="input-group-addon">http://</span>
									<input type="text" class="form-control" id="url">
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label for="input3" class="col-lg-2 control-label">Search</label>
							<div class="col-lg-10">
								<textarea class="form-control" rows="3" id="query"></textarea>
							</div>
						</div>
						
						<div class="form-group">
							<label for="select1" class="col-lg-2 control-label">Repeat</label>
							<div class="col-lg-10">
								<select class="form-control" id="bundle">
									<% for(var i = 0; i < repeat.length; i++) { %>
										<option value="<%= repeat[i] %>"><%= repeat[i] %> minutes</option>
									<% } %>
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label for="select1" class="col-lg-2 control-label">Pipeline</label>
							<div class="col-lg-10">
								<select class="form-control" id="pipeline" data-on="change" data-event="pipeline/change">
									<option value="statistic" selected>Statistic</option>
									<option value="content">Content</option>
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label for="select1" class="col-lg-2 control-label">Method</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="method" value="resume" readonly>
							</div>
						</div>
						
						<div class="form-group">
							<label for="input4" class="col-lg-2 control-label"></label>
							<div class="col-lg-10">
								<div class="checkbox">
									<label>
										<input type="checkbox"> I accept all the Terms of Use and Privacy
									</label>
								</div>
								<span class="help-block">Remember that our Bundles' use is restricted to the source Terms and Privacy Policy. If you have any question about legal terms, contact our <a href="mailto:luis@cloudbot.io">support team.</a></span>
							</div>
						</div>

						<div class="form-group">
							<div class="col-lg-offset-2 col-lg-10">
								<button class="btn btn-primary">Create</button>
								<button class="btn btn-default" data-on="click" data-event="client/render" data-pub='{"url": "/rules"}'>Cancel</button>
							</div>
						</div>

					</form>

				</div>
			</div>
		</div>
		<!-- /Basic forms -->
	</div>

</section>